[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
"pypiwin32" = "*"
sqlalchemy = "*"
alembic = "*"
mysql-connector-python = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"